* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    background-color: #111312;
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 1000px;
    height: 500px;
    z-index: 3;
}

.hexagon {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-image: url('/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(30%);
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);

}